header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 100vh;
    text-align: center;
}

.logo-svg {
    width: 20vw;
}

.header-card {
    height: 40vw;
    width: 65vw;
    backdrop-filter: blur(15px);
    border-radius: 23px;
    background: blur(16px);
    box-shadow: rgba(0, 0, 0, .2) 5px 5px 5px 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.embed-video {
    width: 80%;
}


/* FOR DESKTOPS */
@media screen and (min-width: 1200px) {
    .header-card {
        width: 50vw;
        height: 30vw;
    }
    
}


