.merch {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.merch-card {
    width: 50vw;
    height: 50vh;
    display: flex;
    backdrop-filter: blur(15px);
    border-radius: 23px;
    background: blur(16px);
    box-shadow: rgba(0, 0, 0, .2) 5px 5px 5px 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.merch-title {
    font-size: 1rem;
    width: 100%;
}