.merch {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.merch-card {
    height: 50vh;
    display: flex;
    backdrop-filter: blur(15px);
    border-radius: 23px;
    background: blur(16px);
    /* border: solid #19191971 3px; */
    transition: ease-in-out .3s;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.merch-title {
    text-transform: uppercase;
    font-size: 1rem;
    width: 100%;
}

.bio {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bio-card {
    width: 100vw;
    height: 60vh;
    display: flex;
    backdrop-filter: blur(15px);
    border-radius: 23px;
    background: blur(16px);
    transition: ease-in-out .2s;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10vw;
}

.bio-title {
    text-transform: uppercase;
    font-size: 1.75rem;
}

.bio-description {
    font-size: 1.25rem;
}

.socials {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.faicon {
    font-size: 2rem;
    opacity: 80%;
    transition: ease-in-out .3s;
}

.faicon:hover {
    opacity: 100%;
}

.footer {
    width: 100%;
    height: 5vh;
    text-align: center;
    font-size: 1.5vh;
}

.jawwad-link {
    text-decoration: underline;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* FOR DESKTOPS */
@media screen and (min-width: 1200px) {
    .merch-card {
        width: 30vw;
        padding: 5vw;
    }

    .bio-card {
        width: 70vw;
    }
    
}
