.merch {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.merch-card {
    width: 80vw;
    height: 50vh;
    display: flex;
    backdrop-filter: blur(15px);
    border-radius: 23px;
    background: blur(16px);
    border: solid #19191971 3px;
    transition: ease-in-out .3s;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10vw;
}

.merch-card:hover {
    border: solid #191919 3px;
}

.merch-title {
    font-size: 1rem;
    width: 100%;
}

.bio {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bio-card {
    border: solid #19191971 3px;
    width: 80vw;
    height: 50vh;
    display: flex;
    backdrop-filter: blur(15px);
    border-radius: 23px;
    background: blur(16px);
    /* box-shadow: rgba(0, 0, 0, .2) 5px 5px 5px 5px; */
    transition: ease-in-out .2s;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10vw;
}

.bio-title {
    font-size: 2rem;
}

.bio-description {
    font-size: 1.5rem;
}

/* FOR DESKTOPS */
@media screen and (min-width: 1200px) {
    .merch-card {
        width: 30vw;
        padding: 5vw;
    }
    
}
